.article {
    @include outlook-window();
    flex-wrap: nowrap;
    padding-left: 0;
    padding-right: 0;
    align-items: flex-start;
    text-align: initial;

    a {
        color: unset;
    }

    .category {
        font-size: large;
        text-align: end;
        width: var(--article-element-width);
        padding: 0 2%;

        span {
            border-left: 1px solid var(--bg-0);
            border-right: 1px solid var(--bg-0);
            padding: 0 .5%;
            margin: 1%;
        }
    }

    .article-body {
        margin: 0% 3%;

        .title {
            font-size: xx-large;
            font-weight: bolder;

            @media (max-width: 700px) {
                font-size: x-large;
            }
        }

        .subtitle {
            font-size: x-large;

            @media (max-width: 700px) {
                font-size: large;
            }
        }

        .writer {
            font-size: large;
            margin: 2% 0;
            width: var(--article-element-width);
            border-bottom: .5px solid var(--text-3);
        }

        img {
            width: var(--article-element-width);
            margin: 1% 2%;
            border-radius: 3px;
            box-shadow: var(--box-shadow);
        }

        .en-img {
            float: right;
        }

        .ar-img {
            float: left;
        }

        #article-text-body {
            clear: none;
            border-bottom: .5px solid var(--text-3);
            color: var(--text-1);
            text-align: justify;
        }

        .footer {
            @include row();
            margin: 1% 0 5% 0;
            font-size: small;
            color: var(--text-2);
            fill: var(--text-2);
            stroke: var(--text-2);

            span {
                margin: 0 5px;
            }

            svg {
                margin: 3px;
            }

            svg:hover {
                color: var(--text-0);
                fill: var(--text-0);
            }

            .rate {
                cursor: pointer;
            }

            .rate:hover {
                color: var(--fg-3);
            }

            .ratedUp {
                color: var(--success);
            }

            .ratedDown {
                color: var(--danger);
            }

            .star {
                cursor: pointer;

                .favorited {
                    display: none;
                }
            }

            .star:hover {

                .unfavorited {
                    display: none;
                }

                .favorited {
                    display: block;
                }
            }

            .comment-section {
                width: 100%;
                margin-top: 2%;

                .comments {
                    width: var( --article-element-width);
                    padding: 1%;
                    margin: 1% 0;
                    background: var(--bg-1);

                    .new-comment {
                        display: flex;

                        textarea {
                            resize: none;
                            flex-grow: 1;
                            outline: none;
                            border: .5px solid var(--text-3);
                            border-radius: 3px;
                            padding: 5px;
                            background: var(--input);
                        }

                        textarea:disabled {
                            background: unset;
                        }

                        button {
                            @include outlook-button();
                        }
                    }

                    .comment {
                        background: var(--bg-0);
                        margin: 2% 0;
                        padding: 2%;

                        .comment-header {
                            @include row();
                            justify-content: space-between;

                            .owner {
                                font-weight: bold;
                            }

                            .delete {
                                fill: var(--danger-100);
                                stroke: var(--danger-100);
                                font-size: xx-small;
                            }

                            .delete:hover {
                                fill: var(--danger-300);
                                stroke: var(--danger-300);
                            }
                        }

                        .time {
                            font-weight: 400;
                            font-size: smaller;
                            text-align: end;
                        }
                    }
                }
            }
        }
    }
}
