body {
    .top-voted-articles {
        @include outlook-box();
        width: 100%;
        text-align: initial;
        padding: 2%;
        margin-bottom: 5%;

        span {
            font-size: larger;
            text-align: center;
            margin-bottom: 2%;
        }

        ol {
            list-style: upper-roman;

            li {

                div {
                    justify-content: space-between;
                    display: flex;

                    span {
                        font-size: small;
                    }
                }
            }
        }
    }
}
