@mixin flex-wrap() {
    display: flex;
    flex-wrap: wrap;
}

@mixin row() {
    @include flex-wrap();
    flex-direction: row;
}

@mixin col() {
    @include flex-wrap();
    flex-direction: column;
}

@mixin borderless() {
    border: none;
    background-color: inherit;
}
