@media (min-width: 1500px) {
    :root {
        --sidebar-width: 180px;
        --main-width: calc(100vw - var(--sidebar-width));
        --navbar-transform: translateX(var(--sidebar-width));
        --screen-transform: transform ease 0s;
        --home-width: 975px;
        --stats-width: 525px;
        --stats-font-size: unset;
        --last-article-mb: 5%;
        --main-column-count: 2;
    }
}

@media (max-width: 1500px) {
    :root {
        --sidebar-width: 180px;
        --main-width: calc(100vw - var(--sidebar-width));
        --navbar-transform: translateX(var(--sidebar-width));
        --screen-transform: transform ease 0s;
        --home-width: 65%;
        --stats-width: 35%;
        --stats-font-size: smaller;
        --last-article-mb: 5%;
        --main-column-count: 2;
    }
}

@media (max-width: 1300px) {
    :root {

    }
}
@media (max-width: 700px) {
    :root {
        --route-width: 100vw;
        --main-width: 100vw;
        --navbar-transform: none;
        --screen-transform: transform ease .4s;
        --home-width: 100%;
        --last-article-mb: 20%;
        --main-column-count: 1;
    }
}