@media (min-width: 1950px) {
    :root {
        --sidebar-width: 180px;
        --main-width: calc(100vw - var(--sidebar-width));
        --navbar-transform: translateX(var(--sidebar-width));
    }
}

@media (max-width: 1950px) {
    :root {
        --sidebar-width: 180px;
        --main-width: calc(100vw - var(--sidebar-width));
        --navbar-transform: translateX(var(--sidebar-width));
    }
}

@media (max-width: 1300px) {
    :root {

    }
}
@media (max-width: 700px) {
    :root {
        --route-width: 100vw;
        --main-width: 100vw;
        --navbar-transform: none;
    }
}