.main-menu {
    /*@include row();*/
    height: initial;
    /*column-span: none;*/
    /*column-fill: auto;*/
    /*display: inline-table;*/
    /*column-count: 2;*/

    .article:first-child, .article:nth-child(2) {
        margin: 0 1%;
    }

    .article {
        @include outlook-box();
        @include col();
        width: 100%;
        margin: 5% 1%;
        align-items: flex-start;

        float:left;
        width:48%;

        .category {
            text-align: initial;
            margin: 2% 0%;
            padding: 0% 2%;
        }

        .title {
            text-align: initial;
            align-self: flex-start;
            margin: 0% 3%;
            width: 90%;
            /*font-size: larger;*/
            font-weight: bolder;
        }

        .subtitle {
            margin: 0% 3%;
            text-align: initial;
            font-size: x-small;

            span {
                background: var(--text-0);
                color: var(--bg-1);
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                padding: 0 3px;
            }
        }

        *:not(span) {
            margin: 0% 3%;
        }

        img {
            margin-bottom: 2%;
            width: 95%;
            align-self: center;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
        }

        .footer {
            @include row();
            font-size: small;

            span {
                margin: 0 5px;
            }

            .ratedUp {
                color: var(--success);
            }

            .ratedDown {
                color: var(--danger);
            }
        }
    }
}
