body {
    .Home {
        @include row();
        height: 100%;
        width: 100%;

        .main-menu {
            width: var(--home-width);
            padding: 2%;
            margin: 0 auto;
        }

        .top-articles {
            width: var(--stats-width);
            padding: 2%;
            background: var(--bg-1);
            font-size: var(--stats-font-size);
        }
    }
}
