body {
    .Home {
        @include row();
        height: 100%;
        width: 100%;

        .main-menu {
            width: 60%;
            padding: 2%;

            @media(max-width: 700px) {
                width: 100%;
            }
        }

        .top-articles {
            width: 40%;
            padding: 2%;

            *:not(:first-child) {
                margin-top: 5%;
            }
        }
    }
}
