body {
    .Home {
        @include row();
        height: 100%;
        width: 100%;

        .main-menu {
            width: 65%;
            padding: 2%;

            @media(max-width: 700px) {
                width: 100%;
            }
        }

        .top-articles {
            width: 35%;
            padding: 2%;
            background: var(--bg-1);
            font-size: smaller;
        }
    }
}
