.profile {
    @include outlook-window();

    .name {
        @include outlook-title();
        width: var(--outlook-title-width);
    }

    .options {
        @include col();
        width: 30%;
        justify-content: flex-start;

        a {
            @include outlook-box();
            margin: 2% 0;
            padding: 5%;
            color: unset;
        }

        @media (max-width: 700px) {
            @include row();
            width: 100%;
            justify-content: space-evenly;
        }
    }

    .sub-window {
        width: 70%;

        @media (max-width: 700px) {
            width: 100%;
        }
    }
}
