body {
    .navbar {
        background: var(--bg-2);
        padding-left: 5%;
        padding-right: 5%;
        flex: 0 1 auto;
        height: 55px;

        .form-control {
            background: var(--bg-0);
            border-color: var(--fg-0);
            justify-content: space-between;

            input, span {
                @include borderless();
                height: 100%;
                outline: none;
            }

            input {
                flex: 1;
            }
        }

        .form-control::placeholder {
            color: var(--text-2);
        }

        .options {
            @include row();
            @include div-title();

            * {
                color: var(--text-0);
                outline: none;
            }

            .archive {
                @include borderless();
                color: var(--text-0);
            }

            a {
                margin: 0;
            }

            .btn {
                border-color: var(--fg-0);
            }

            .btn:hover {
                background: var(--fg-0);
            }
        }
    }
}
