body {
    .navbar {
        background: var(--bg-2);
        padding-left: 5%;
        padding-right: 5%;
        flex: 0 1 auto;
        height: 55px;
        box-shadow: var(--box-shadow);

        .options {
            @include row();

            * {
                color: var(--text-0);
                outline: none;
            }

            .option {
                @include borderless();
                color: var(--text-0);
            }
        }
    }
}
