@model Outlook.Server.Models.Member
@using Outlook.Server.Models.Interfaces;
@using Outlook.Server.Controllers;

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var positions = new List<Position>
    {
        Position.Editor_In_Chief,
        Position.Senior_Editor,
        Position.Associate_Editor,
        Position.Junior_Editor,
        Position.Proofreader,
        Position.Web_Editor,
        Position.Copy_Editor,
        Position.Staff_Writer,
        Position.رئيس_تحرير,
        Position.المحرر,
        Position.نائب_المحرر,
        Position.رئيس_قسم,
        Position.مدقق_النسخة,
        Position.مدقق_لغوي,
        Position.مدقق_الموقع,
        Position.كاتب_صحفي
    };

    var categories = MembersController.Categories;
}

<h1>Create</h1>

<h4>Member</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Position" class="control-label"></label>
                <select id="position" asp-for="Position" class="form-control" asp-items="new SelectList(positions)" onchange="CheckPosition()">
                    <option>Select Position</option>
                </select>
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category.CategoryName" class="control-label"></label>
                <select id="category" asp-for="Category.CategoryName" class="form-control" asp-items="new SelectList(categories)" disabled>
                    <option>Select Category</option>
                </select>
                <span asp-validation-for="Category.CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    function CheckPosition() {
        var select = document.getElementById('position');
        var position = select.options[select.selectedIndex].value;
        if (position == "Junior_Editor" || position == "رئيس_قسم") {
            document.getElementById('category').disabled = false;
        } else {
            console.log(position);
            document.getElementById('category').disabled = true;
        }
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
