.Category {
    @include row();
    @include outlook-window();

    .about {
        width: 35%;
        padding: 3%;
        text-align: start;

        @media (max-width: 700px) {
            width: 100%;
        }

        .title {
            @include outlook-writers();
        }

        b {
            margin: 0 5px;
        }

        ul {
            list-style: none;
        }
    }

    .articles {
        // todo: <DRY This code>
        width: 65%;
        column-count: var(--main-column-count);

        @media (max-width: 700px) {
            width: 100%;
        }

        .article {
            margin: 1%;
            -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
            break-inside: avoid;
        }

        @-moz-document url-prefix() {
            .article {
                min-height: 300px;
            }
        }

        .article:last-child {
            margin-bottom: var(--last-article-mb) !important;
        }
        // </DRY This code>
    }
}
