@model backend.Models.Issue

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Issue</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IssueNumber" class="control-label"></label>
                <input asp-for="IssueNumber" class="form-control" />
                <span asp-validation-for="IssueNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Theme" class="control-label"></label>
                <input asp-for="Theme" class="form-control" />
                <span asp-validation-for="Theme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArabicPDF" class="control-label"></label>
                <input asp-for="ArabicPDF" class="form-control" ref="file" type="file" />
                <span asp-validation-for="ArabicPDF" class="text-danger"></span>
            </div>
            @if (Model.ar_pdf != null)
            {
                <embed src="@Model.ar_pdf" type="application/pdf" width="100%" height="200px" class="mt-2"/>
            }
            <div class="form-group">
                <label asp-for="EnglishPDF" class="control-label"></label>
                <input asp-for="EnglishPDF" class="form-control" ref="file" type="file" />
                <span asp-validation-for="EnglishPDF" class="text-danger"></span>
            </div>
            @if (Model.en_pdf != null)
            {
                <embed src="@Model.en_pdf" type="application/pdf" width="100%" height="200px" class="mt-2"/>
            }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@Model.VolumeID">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
