.member {
    @include outlook-window();
    text-align: initial;
    height: 100%;

    .title {
        @include outlook-title();
        width: var(--outlook-title-width);
    }

    .title, table {
        column-span: all;
    }

    .articles {
        column-count: var(--member-column-count);

    

        .article {
            margin: 1%;
            -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
            break-inside: avoid;
        }

        @-moz-document url-prefix() {
            .article {
                min-height: 300px;
            }
        }
    }
}

