.member {
    @include outlook-window();
    text-align: initial;
    height: 100%;

    .title {
        @include outlook-title();
        width: var(--outlook-title-width);
    }

    .title, table {
        column-span: all;
    }

    .articles {
        column-count: var(--member-column-count);
    }
}

