.Archives {
    @include outlook-box();

    p {
        font-size: larger;
        margin-bottom: 10%;
    }

    select {
        margin: 5%;
        padding: 5%;
        width: 100%;
        border: none;
        outline: none;
        background: var(--bg-0);
        border-radius: 5px;
        color: var(--text-1);
        cursor: pointer;

        option {
            background: var(--fg-0);
            cursor: pointer;
        }

        option:hover {
            background: var(--fg-1);
        }
    }
}
