.auth, .change-password {
    @include outlook-window();
    @include col();

    .loader {
        z-index: 999;
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 10%;
        margin: -3%;
        background-color: var(--loading-background);
    }

    .form {
        @include outlook-box();
        padding: 2%;

        .title {
            font-size: x-large;
            font-weight: bold;
            padding-bottom: 2%;
            border-radius: 0 0 3px 3px;
            background: var(--fg-3);
            color: var(--text-3);
        }

        table {
            background: var(--bg-1);
            border-radius: 3px 3px 0 0;

            tr {
                border: 12px solid transparent;

                input {
                    border: none;
                    outline: none;
                    padding: 0 2%;
                    background: var(--input);
                    border-radius: 3px;
                    color: var(--text-1);
                }
            }
        }

        .error {
            color: var(--danger-400);
        }
    }
}

.change-password {
    width: inherit;
}
