body {

    #sidebar {
        @include col();
        top: 0;
        bottom: 0;
        position: absolute;
        padding: 1% 0 0 0;
        color: var(--text-1);
        background: var(--bg-1);
        width: var(--sidebar-width);
        transition: var(--screen-transform);
        animation-delay: 1s;
        overflow: auto;
        color: var(--text-0);

        .main:nth-child(2) {
            color: var(--text-2);
            font-weight: lighter;
            font-size: smaller;

            th {
                padding-left: 5%;
                padding-right: 5%;
            }
        }

        .main {
            @include col();
            margin-bottom: 20%;

            span {
                text-align: initial;
                margin-left: 10%;
                margin-right: 10%;
                font-weight: 600;
                font-size: smaller;
            }

            table {

                tr {
                    border-top: 12px solid transparent;
                    border-bottom: 12px solid transparent;
                    border-right: 2px solid transparent;
                    border-left: 2px solid transparent;
                    cursor: pointer;

                    th {
                        text-align: center;

                        .fontawesome {
                            font-size: larger;
                        }
                    }

                    td {
                        text-align: initial;
                    }
                }

                tr:hover {
                    background: var(--bg-0);
                    border-right: 2px solid var(--fg-2);
                    border-left: 2px solid var(--fg-2);
                }

                .tr-selected {
                    background: var(--bg-0);
                    border-right: 2px solid var(--fg-4);
                    border-left: 2px solid var(--fg-4);
                }
            }
        }

        .icon-btn {
            color: var(--text-2);
            margin-top: auto;
            margin-left: 3%;
            margin-right: 3%;
            align-self: start;
            font-size: 20px;
            cursor: pointer;
        }

        .icon-btn:hover {
            color: var(--text-0);
        }
    }

    .en-hide {
        transform: translateX(calc(-1 * var(--sidebar-width)));
    }

    .ar-hide {
        transform: translateX(var(--sidebar-width));
    }

    .box-shadow-right {
        -webkit-box-shadow: var(--shadow-right);
        -moz-box-shadow: var(--shadow-right);
        box-shadow: var(--shadow-right);
    }

    .box-shadow-left {
        -webkit-box-shadow: var(--shadow-left);
        -moz-box-shadow: var(--shadow-left);
        box-shadow: var(--shadow-left);
    }
}
