body {
    .sidebar {
        @include col();
        padding: 1% 0 0 0;
        flex-grow: 1;
        color: var(--text-1);
        background: var(--bg-1);
        width: var(--sidebar-width);
        transition: transform ease-in-out 0.1s;
        overflow-y: auto;
        color: var(--text-0);
        /*transform: translateX(calc(-1 * var(--sidebar-width)));*/

        .main:nth-child(2) {
            color: var(--text-2);
            font-weight: lighter;
            font-size: smaller;
        }

        .main {
            @include col();
            margin-bottom: 30%;

            span {
                text-align: initial;
                margin-left: 10%;
                margin-right: 10%;
                font-weight: 600;
            }

            .side-tab {
                width: inherit;
                @include row();
                flex-basis: 1%;
                flex-flow: row;

                .edge {
                    border-left: 4px solid var(--bg-1);
                    height: 100%;
                    width: 4px;
                }

                .tab {
                    @include col();
                    flex-grow: 1;
                    padding: 1% 10%;
                    cursor: pointer;
                    justify-content: center;
                    height: 30px;
                    align-content: flex-start;

                    .fontawesome {
                        font-size: larger;
                    }
                }

                i:not(.edge) {
                    margin-left: 6%;
                    margin-right: 6%;
                }
            }
        }

        .side-tab:hover {
            background: var(--bg-0);

            .edge {
                border-left: 4px solid var(--fg-2);
            }
        }

        .icon-btn {
            color: var(--text-2);
            margin-top: auto;
            margin-left: 3%;
            margin-right: 3%;
            align-self: start;
            font-size: 20px;
            cursor: pointer;
        }

        .icon-btn:hover {
            color: var(--text-0);
        }
    }
}
