@import '../node_modules/css-theming/src/scss/css-theming';

@include ct-themes-apply {
    --bg-0: #{map-get($theme, 'bg-0')};
    --bg-1: #{map-get($theme, 'bg-1')};
    --bg-2: #{map-get($theme, 'bg-2')};

    --fg-0: #{map-get($theme, 'fg-0')};
    --fg-1: #{map-get($theme, 'fg-1')};
    --fg-2: #{map-get($theme, 'fg-2')};
    --fg-3: #{map-get($theme, 'fg-3')};
    --fg-4: #{map-get($theme, 'fg-4')};
    
    --text-0:  #{map-get($theme, 'text-0')};
    --text-1:  #{map-get($theme, 'text-1')};
    --text-2:  #{map-get($theme, 'text-2')};
    --text-3:  #{map-get($theme, 'text-3')};

    --logo-color: #{map-get($theme, 'text-0')};
    --logo-hover: #{map-get($theme, 'logo-hover')};

    --shadow-right: inset -10px 0px 15px -14px #{map-get($theme, 'shadow')};
    --shadow-left: inset 14px 0px 15px -14px #{map-get($theme, 'shadow')};

    --box-shadow: 2px 2px 5px -1px #{map-get($theme, 'shadow')};
}

:root {

    body {
        display: flex;
        flex-direction: column;
        background: var(--bg-0);
        height: 100%;
        font-family: 'Baloo Da 2', cursive;
        color: var(--text-0);

        *::-webkit-scrollbar {
            margin: 10px;
            width: 6px;
        }

        *::-webkit-scrollbar-thumb {
            background-color: var(--fg-1);
            border-radius: 5px;
        }

        #app {
            @include col();
            flex-grow: 1;

            .navbar {
                width: var(--main-width);
            }

            .window {
                display: flex;
                flex-direction: row;
                flex-grow: 1;
                width: var(--main-width);

                #route {
                    @include col();
                    justify-content: center;
                    width: 100%;
                    height: calc(100vh - 55px);
                    overflow-y: auto;
                    transition: var(--screen-transform);
                }
            }
        }

        .sidebar-expanded {

            #sidebar {
                transform: none;
            }

            .en-expand {
                transform: translateX(var(--sidebar-width));
            }

            .ar-expand {
                transform: translateX(calc(-1 * var(--sidebar-width)));
            }
        }

        .box-shadow-right {
            -webkit-box-shadow: var(--shadow-right);
            -moz-box-shadow: var(--shadow-right);
            box-shadow: var(--shadow-right);
        }

        .box-shadow-left {
            -webkit-box-shadow: var(--shadow-left);
            -moz-box-shadow: var(--shadow-left);
            box-shadow: var(--shadow-left);
        }
    }
}

