@import '../node_modules/css-theming/src/scss/css-theming';

@include ct-themes-apply {
    --bg-0: #{map-get($theme, 'bg-0')};
    --bg-1: #{map-get($theme, 'bg-1')};
    --bg-2: #{map-get($theme, 'bg-2')};

    --fg-0: #{map-get($theme, 'fg-0')};
    --fg-1: #{map-get($theme, 'fg-1')};
    --fg-2: #{map-get($theme, 'fg-2')};
    --fg-3: #{map-get($theme, 'fg-3')};
    --fg-4: #{map-get($theme, 'fg-4')};
    
    --text-0:  #{map-get($theme, 'text-0')};
    --text-1:  #{map-get($theme, 'text-1')};
    --text-2:  #{map-get($theme, 'text-2')};

    --logo-color: #{map-get($theme, 'text-0')};
    --logo-hover: #{map-get($theme, 'logo-hover')};

    --shadow-right: inset -10px 0px 15px -14px #{map-get($theme, 'shadow')};
    --shadow-left: inset 14px 0px 15px -14px #{map-get($theme, 'shadow')};
}

:root {

    body {
        display: flex;
        flex-direction: column;
        background: var(--bg-0);
        height: 100%;
        font-family: 'Baloo Da 2', cursive;
        color: var(--text-0);

        #app {
            @include col();
            flex-grow: 1;
            width: 100vw;

            .window {
                width: 100%;
                display: flex;
                flex-direction: row;
                flex-grow: 1;


                .route {
                    overflow: auto;
                    width: 100%;
                    overflow-y: auto;
                }
            }
        }

        .sidebar-expanded {

            #sidebar {
                transform: none;
            }

            .route, .navbar {
                transition: transform ease-in-out .1s;
                transform: translateX(var(--sidebar-width));
            }
        }
    }
}

